*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #3b3d44
}

h1{
    height: 100px;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
}

.player1,.player2
{ display:block;
    float: left;
    margin-top: 100px;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}

.winner1
{
    display: none;
    top: 320px;
    left: 380px;;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}
.winner2
{
    display:none;
    top: 320px;
    left: 380px;;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}
.reset
{width: 150px;
height: 40px;;
background-color: rgb(224, 52, 9);
border: 0px solid transparent;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
font-size: 25px;
    font-weight: 100;
    text-align: center;
}

.start
{
    width: 150px;
height: 40px;;
background-color: rgb(224, 52, 9);
border: 0px solid transparent;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
font-size: 25px;
    font-weight: 100;
    text-align: center;
}


.draw
{display:none;
   top: 420px;
    left: 550px;;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    text-transform: uppercase;}

.btn-turn
{
    position: absolute;
    display: block;
    width: 200px;
    height: 50px;
    top: 240px;
    left: 600px;
    border-radius: 20px;
    background-color: orangered;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 20px;
}

.player1{
    margin-left:250px;
    
}

.blink{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.player2
{
    margin-left: 900px;
}


.main-block
{
position: absolute;
margin-left: 550px;
margin-top: 200px;
width: 304px;
height: 304px;;
background-color: rgb(255, 255, 255);
display: block;
border: 2px solid #000;
border-radius: 10px;
float: left;
}

.row1,.row2,.row3
{   width: 300px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.row1,.row2
{
 border-bottom: 2px solid orangered;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9

{   width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    float: left;
    color: orange;
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
    
}

.b1,.b4,.b7,.b2,.b5,.b8
{
    border-right: 2px solid orangered;

}

img
{
    height: 60px;
    top:10px;
    width: auto;
    position: absolute;
    backface-visibility: hidden;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
p{   top: 0px;
    left:500px;
    position: absolute;
}

#img1
{
  
    left: 100px;
}

#img2
{
    
    right: 100px;
}

@keyframes rotate
{
    0%
    { 
        transform: rotate(0deg)
    }
    
    50%
    {  
                transform: rotate(180deg);

    }
    
    100%
    {
        transform: rotate(360deg)
    }
    
}

@keyframes blink
{
    0%
    { 
        opacity: 0
    }
    
    50%
    {  
                opacity: 1

    }
    
    100%
    {
        opacity: 0
    }
    
}